*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'DM Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
}
header{
    z-index: 10;
    width: 100vw;
    top: 0;
    position: fixed;
    background-color: #fff;
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.05));
}

nav {
    max-width: 1200px;
    height: 84px;
    margin:0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
body{
    background-color:#F6F7FC;
    margin-top: 150px;
}
a{
    text-transform: uppercase;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    color:#08C6C0;

}
h2{
    color: #23242A;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    align-self: flex-start;
}
h3{
    font-size: 32px;
}
h4{
    font-size: 20px;
}
main{
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
}
.catalogue{
    margin-bottom: 90px;
}
#items-container{
    display: grid;
    grid-template-columns: minmax(255px,255px) minmax(255px,255px) minmax(255px,255px) minmax(255px,255px);
    gap: 54px 30px;
}
.item{
    height: 330px;
}
.item .image-wrapper{
    position: relative;
    height: 183px;
    background-color: #fff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    
}
.badge-secondary{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 10px;
    gap: 4px;
    color: #fff;
    font-size: 9px;
    position: absolute;
    height: 24px;
    left: 8px;
    top: 152px;
    border-radius: 4px;
    background-color: #23242A;
}
.item-image{
    display: block;
    margin: 0 auto;
    max-height: 178px;
    max-width: 100%;
    border-radius: 4px 4px 0px 0px;
}
.badge-category{
    text-transform: uppercase;
    font-weight: 500;
    font-family:Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 10px;
}
.itemDetails{
    display: flex;
    flex-direction: column;
}
button{
    width: 100%;
    height: 35px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    background: #08C6C0;
    border-radius: 4px;
    cursor: pointer;
}
#receiptbutton{
    margin-bottom: 35px;
    width: 255px ;
}
.cart{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: inherit;
}
.cart_summary{
    display: flex;
    justify-content: space-between;
    width: 635px;
    height: 153px;
    padding: 42px 27px;
    margin-bottom: 100px;
    background-color: #fff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    align-items: baseline;
}
.summary-container{
    margin-left: 20px;
}
.total{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 14px;
}
.taxes{
    font-size: 16px;
    font-weight: 400;
}
.flex{
    display: flex;
    gap: 73px;
    justify-content: space-between;
    line-height: 23px;
}
h4{
    color:#212529;
    font-weight: 700;
    font-size: 20px;
    margin-top: 14px;
    margin-bottom: 2px;
}
.price{
    color: #212529;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    margin-bottom: 8px;
}
.import-wrapper{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    font-family:'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #212529CC;
    margin-bottom: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.import-wrapper input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
    height: 13px;
    width: 13px;
    border:1px solid #08C6C0;
    font-size: 9px;
    text-align: center;
}
.import-wrapper input:checked ~ .checkmark {
    background-color: #08C6C0;
  }



  table {
    display: grid;
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    grid-template-columns:
    minmax(5px,27px)
    minmax(100px,4fr)
    minmax(70px, 2fr)
    minmax(50px, 2fr)
    minmax(50px, 1fr)
    minmax(10px, 27px)
    minmax(5px, 27px)
      
  }
  
  thead,
  tbody,
  tr {
    display: contents;
  }
  
  th,
  td {
    padding: 15px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  th,.empty{
    border: 0;
  }
  th {
    
    text-align: left;
    font-weight: 700;
    font-size: 16px;
    color:#221122;
    ;
    border-bottom: 1px solid #DEE2E6;
  }
  
  td {
    padding-top: 13px;
    padding-bottom: 13px;
    color: #808080;
  }
  .fullwidth{
    padding: 30px 0;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 6;
    font-size: 25px;
  }
  .delete-button{
    text-align: center;
    cursor: pointer;
  }
  .fa-trash-can{
    color: #EE2D56;
    ;
  }



  @media only screen and (min-width:1024px) and (max-width: 1600px){
    nav{
        max-width: 1100px; 
    }
    main{
        max-width: 1100px;
    }
    #items-container{
        grid-template-columns: repeat(4,minmax(180px,255px));
  }
}
  @media only screen and ( min-width:768px ) and (max-width: 1023px){
    nav{
        max-width: 880px;
    }
    main{
        max-width: 880px;
    }
    #items-container{
        grid-template-columns: repeat(3,minmax(150px,255px));
    }
    .cart_summary{
        width: 60%;
    }
    h3{
        font-size: 24px;
    }
    .total{
        font-size: 20px;

    }
    .taxes{
        font-size: 14px;
    }
  }
  
  @media only screen and (max-width: 767px){
    nav{
        max-width: 500px;
    }
    main{
        max-width: 500px;
    }
    .navbar_link{
        font-size: 12px;
    }
    .logo{
        max-width: 100px;
    }
    h2{
        font-size: 30px;
    }
    #items-container{
        grid-template-columns: repeat(2,minmax(120px,255px));
    }

    .cart_summary{
        height: auto;
        width: 70%;
        padding: 20px 20px;
    }
    .summary-container{
        margin-left: 10px;
        flex-grow: 1;
    }
    .flex{
        gap: 0px;
    }
    h3{
        flex-grow: 2;
        font-size: 18px;
    }
    .total{
        font-size: 14px;
        margin-bottom: 0px;
    }
    .taxes{
        font-size: 11px;
    }



}




@media only screen and (max-width: 480px){

    
    th,td{
        font-size: 11px;
    }
    th{
        font-size: 12px;
    }
    #items-container{
        gap: 20px 10px;
    }
    .item{
        height: auto;
    }
    .itemDetails{
        min-height: 130px;
        justify-content: space-between;
    }
    .cart_summary{
        height: auto;
        width: 70%;
        padding: 20px 10px;
    }
    .summary-container{
        margin-left: 10px;
        flex-grow: 1;
    }
    .flex{
        gap: 0px;
    }
    h3{
        flex-grow: 2;
        font-size: 16px;
    }
    h4{
        font-size: 17px;
    }
    .total{
        font-size: 11px;
        margin-bottom: 0px;
    }
    .taxes{
        font-size: 9px;
    }
    .fullwidth{
        padding: 15px 0;
        font-size: 14px;
    }



}

@media print{
    .catalogue{
        display: none;
    }
    .delete-button{
    opacity: 0;
    }
    .cart_summary{
        max-width: 70vw;
    }
 

}